## También puedes llamar con langchain (No son necesarias para este proyecto, pero puedes usarlas en proyectos con RAG)
langchain
langchain_community
langchain-google-genai


python-dotenv    ## Para la llamado de la variable de entorno
streamlit	 ## Librería para desplegar modelo

## Librerías de google
google-cloud-secret-manager
google-generativeai
